{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" >
    <label for="title">Title</label>
    <input name="title" style="font-size:15pt"  id="title" value="{{ request.form['title'] }}" required>
    <label for="body">Body</label>
    <textarea name="body"  style="font-size:15pt"  id="body">{{ request.form['body'] }}</textarea>
    <input type="submit" value="Save">
  </form>

  <script type=text/javascript>
    function getContent(){
          document.getElementById("title").value = document.getElementById("title").innerHTML;
          document.getElementById("body").value = document.getElementById("body").innerHTML;
      
        }
   </script>
{% endblock %}