<!doctype html>
<html lang="en">
<title> {% block title %}{% endblock %} - Home</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('pygments_css')}}">

<nav>
    <h1><a href="{{ url_for('blog.index')}}">Home</a></h1>
    <ul>
        <li><a href="{{ url_for('blog.index')}}"> Blog </a>
            <!--
        <li><a href="{{ url_for('info.link')}}"> Link </a>
            -->
        <li><a href="{{ url_for('info.proj')}}"> Slides </a>
        <li><a href="{{ url_for('info.book')}}"> Bookshelf </a>
        <li><a href="{{ url_for('info.about')}}"> About </a>
        
    </ul>
</nav>

<section class="content">
    <!--
    <header>
        {% block header %}{% endblock %}
      </header>
      -->
    {% block content %}
    {% endblock %}
</section>

<!--
<body>
   {# application content needs to be provided in the app_content block #}
{% block app_content %}
   <div id="react-root"></div>
    <script src="{{ url_for('static', filename='dist/bundle.js') }}"></script>
   
{% endblock %}


</body>
-->

<!--
<div class="footer">
<nav>
    <div class="footer-col-1">
    <ul>
     <li>&copy; Copyright 2021 by zhaowenlong </li>
    </ul>
  </div>

    
    <div class="footer-col-2">
    <ul>
    <p class="text"></p>
   </ul>
    </div>
    
</nav>
</div>
-->