<!doctype html>
<html lang="en">
<title> {% block title %}{% endblock %} - Home</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<nav>
    <h1><a href="{{ url_for('blog')}}">Home</a></h1>
    <ul>
        <li> <a href="{{ url_for('about')}}"> About </a>
        <li> <a href="{{ url_for('blog')}}"> Blog </a>
        <li> <a href="{{ url_for('research')}}"> Slides </a>
        <li> <a href="{{ url_for('book')}}"> Bookshelf </a>
    </ul>
</nav>

<section class="content">
    <!--
    <header>
        {% block header %}{% endblock %}
      </header>
      -->
    {% block content %}
    {% endblock %}
</section>

<!--
<body>
   {# application content needs to be provided in the app_content block #}
{% block app_content %}
   <div id="react-root"></div>
    <script src="{{ url_for('static', filename='dist/bundle.js') }}"></script>
   
{% endblock %}

<div id="footer">
    {% block footer %}
    &copy; Copyright 2021 by zhaowenlong
    {% endblock %}
</div>

</body>
-->